## SPT
*.exe
*.zip
*.d.ts
project/dist/
project/user/
project/logs/
project/SPT_Data/
project/types/
project/tests/__cache__/
project/tests/__coverage__/
project/src/__coverage__/

## visual studio
.vs
.idea
.vscode

# sqlite databases
*.sqlite

## nodejs
package-lock.json
node_modules

## windows
desktop.ini

## OSX
.DS_Store
