# Normalize Line Endings
* text=auto eol=lf

# LFS File Listing
project/assets/database/locations/interchange/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/lighthouse/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/shoreline/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/tarkovstreets/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/woods/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/factory4_day/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/factory4_night/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/rezervbase/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/bigmap/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/laboratory/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/loot/* filter=lfs diff=lfs merge=lfs -text
