# Normalize Line Endings
* text=auto eol=lf

# LFS File Listing
project/assets/database/locations/interchange/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/interchange/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/interchange/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/interchange/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/lighthouse/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/lighthouse/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/lighthouse/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/lighthouse/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/shoreline/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/shoreline/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/shoreline/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/shoreline/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/tarkovstreets/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/tarkovstreets/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/tarkovstreets/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/tarkovstreets/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/woods/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/woods/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/woods/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/woods/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/factory4_day/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/factory4_day/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/factory4_day/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/factory4_day/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/factory4_night/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/factory4_night/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/factory4_night/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/factory4_night/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/rezervbase/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/rezervbase/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/rezervbase/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/rezervbase/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/bigmap/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/bigmap/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/bigmap/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/bigmap/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/laboratory/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/laboratory/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/laboratory/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/laboratory/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/sandbox/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/sandbox/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/sandbox/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/sandbox/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

project/assets/database/locations/sandbox_high/looseLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/sandbox_high/staticLoot.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/sandbox_high/staticContainers.json filter=lfs diff=lfs merge=lfs -text
project/assets/database/locations/sandbox_high/staticAmmo.json filter=lfs diff=lfs merge=lfs -text

