{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true,
            "decorators": true
        },
        "transform": {
            "decoratorMetadata": true
        },
        "target": "esnext",
        "loose": true,
        "externalHelpers": false,
        "keepClassNames": true,
        "baseUrl": "./",
        "paths": {
            "@spt/*": ["src/*"]
        }
    },
    "module": {
        "type": "commonjs",
        "strictMode": false
    },
    "sourceMaps": true,
    "minify": false
}
